.welcome-message {
    text-align: center;
    font-size: 1.6rem;
    line-height: 40px;
    margin-bottom: var(--space-md);
}

.instruction {
    font-size: 1rem;
    text-align: center;
    margin-bottom: var(--space-md);
}

.insurance-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    padding: 0;
}

a.insurance-link {
    display: flex;
    min-height: 200px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: var(--color-secondary);
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-primary);
}

@media (min-width: 500px) {
    .insurance-list {
        flex-direction: row;
    }

    .welcome-message {
        font-size: 2rem;
    }

    .instruction {
        font-size: 1.2rem;
    }

    a.insurance-link {
        font-size: 1.2rem;
    }
}
