.header {
    background: var(--color-secondary);
}

.header-content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--space-sm) var(--space-md);
}

@media (min-width: var(--max-width)) {
    .header-content {
        padding: var(--space-sm) 0;
    }
}
